In [1]:
import pandas as pd

prices = pd.DataFrame({
    "price_usd": ["$0.53", "$0.22", "0.34"]
})

prices

  price_usd
0     $0.53
1     $0.22
2      0.34

In [2]:
prices.head()

  price_usd
0     $0.53
1     $0.22
2      0.34

In [12]:
 prices = prices.loc[:, "price_usd"].str.replace("$", "")

C:\Users\seank\AppData\Local\Temp\ipykernel_29192\860072443.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prices = prices.loc[:, "price_usd"].str.replace("$", "")

In [13]:
prices.head()

0    0.53
1    0.22
2    0.34
Name: price_usd, dtype: object